{% extends 'base.html' %}

{% block title %}
{% endblock title %}


{% block body  %}
        <!-- Footer Section Start -->
        <footer class="footer-wrap" style = "margin-top:100%;">
            <div class="container">
                <div class="row pt-100 pb-75">
                    <div class="col-xl-3 col-lg-5 col-md-5 col-sm-12">
                        <div class="footer-widget">
                            <a href="index.html" class="footer-logo">
                                    <img src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/img/logo-white.png" alt="Image">
                                </a>
                            <p class="comp-desc">
                                Lorem ipsum dolor sit amet consc tetur adicing elit. Dolor emque dicta molest enim beatae ame consequ atur tempo pretium auctor nam.
                            </p>
                            <ul class="social-profile style1 list-style">
                                <li>
                                    <a href="https://facebook.com">
                                            <i class="ri-facebook-fill"></i>
                                        </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com">
                                            <i class="ri-twitter-fill"></i>
                                        </a>
                                </li>
                                <li>
                                    <a href="https://instagram.com">
                                            <i class="ri-instagram-line"></i>
                                        </a>
                                </li>
                                <li>
                                    <a href="https://linkedin.com">
                                            <i class="ri-linkedin-fill"></i>
                                        </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                        <div class="footer-widget">
                            <h3 class="footer-widget-title">Company</h3>
                            <ul class="footer-menu list-style">
                                <li>
                                    <a href="index.html">
                                            <i class="ri-arrow-right-s-line"></i>
                                           Home
                                        </a>
                                </li>
                                <li>
                                    <a href="about.html">
                                            <i class="ri-arrow-right-s-line"></i>
                                            About Us
                                        </a>
                                </li>
                                <li>
                                    <a href="service-one.html">
                                            <i class="ri-arrow-right-s-line"></i>
                                          Our Services
                                        </a>
                                </li>
                                <li>
                                    <a href="team.html">
                                            <i class="ri-arrow-right-s-line"></i>
                                            Our Team
                                        </a>
                                </li>
                                <li>
                                    <a href="contact.html">
                                            <i class="ri-arrow-right-s-line"></i>
                                           Contact Us
                                        </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6">
                        <div class="footer-widget">
                            <h3 class="footer-widget-title">Important</h3>
                            <ul class="footer-menu list-style">
                                <li>
                                    <a href="portfolio.html">
                                            <i class="ri-arrow-right-s-line"></i>
                                           Portfolio
                                        </a>
                                </li>
                                <li>
                                    <a href="appointment.html">
                                            <i class="ri-arrow-right-s-line"></i>
                                          Appointment
                                        </a>
                                </li>
                                <li>
                                    <a href="faq.html">
                                            <i class="ri-arrow-right-s-line"></i>
                                            FAQ 
                                        </a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html">
                                            <i class="ri-arrow-right-s-line"></i>
                                            Privacy Policy
                                        </a>
                                </li>
                                <li>
                                    <a href="terms-of-service.html">
                                            <i class="ri-arrow-right-s-line"></i>
                                            Terms &amp; Conditions
                                        </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-5 col-md-6 col-sm-6 pe-xl-4">
                        <div class="footer-widget">
                            <h3 class="footer-widget-title">Quick Link</h3>
                            <ul class="footer-menu list-style">
                                <li>
                                    <a href="about.html">
                                            <i class="ri-arrow-right-s-line"></i>
                                           Why Choose Us
                                        </a>
                                </li>
                                <li>
                                    <a href="pricing-plan.html">
                                            <i class="ri-arrow-right-s-line"></i>
                                            Pricing Plan
                                        </a>
                                </li>
                                <li>
                                    <a href="blog-left-sidebar.html">
                                            <i class="ri-arrow-right-s-line"></i>
                                           News &amp; Articles
                                        </a>
                                </li>
                                <li>
                                    <a href="login.html">
                                            <i class="ri-arrow-right-s-line"></i>
                                           Login
                                        </a>
                                </li>
                                <li>
                                    <a href="contact.html">
                                            <i class="ri-arrow-right-s-line"></i>
                                            Subscribe
                                        </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-7 col-md-6 col-sm-6">
                        <div class="footer-widget">
                            <h3 class="footer-widget-title">Official Info</h3>
                            <ul class="contact-info list-style">
                                <li>
                                    <i class="flaticon-map"></i>
                                    <h6>Location</h6>
                                    <p>2767 Sunrise Street, NY 1002, USA</p>
                                </li>
                                <li>
                                    <i class="flaticon-email-1"></i>
                                    <h6>Email</h6>
                                    <a href="/cdn-cgi/l/email-protection#c2aaa7aeaead82b6a7aeabeca1adaf"><span class="__cf_email__" data-cfemail="c8a0ada4a4a788bcada4a1e6aba7a5">[email&#160;protected]</span></a>
                                </li>
                                <li>
                                    <i class="flaticon-phone-call-1"></i>
                                    <h6>Phone</h6>
                                    <a href="tel:13454567877">+1-3454-5678-77</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <p class="copyright-text"><i class="ri-copyright-line"></i> <span>Teli</span>. All Rights Reserved By <a href="https://hibotheme.com/">HiboTheme</a></p>
        </footer>
        <!-- Footer Section End -->

    </div>
    <!-- Page Wrapper End -->

    <!-- Back-to-top button Start -->
    <a href="javascript:void(0)" class="back-to-top bounce"><i class="ri-arrow-up-s-line"></i></a>
    <!-- Back-to-top button End -->
</div>
<!-- Page Wrapper End -->

<!-- Back-to-top button Start -->
<a href="javascript:void(0)" class="back-to-top bounce"><i class="ri-arrow-up-s-line"></i></a>
<!-- Back-to-top button End -->

<!-- Link of JS files -->
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/jquery.min.js"></script>
<script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/bootstrap.bundle.min.js"></script>
<script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/form-validator.min.js"></script>
<script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/contact-form-script.js"></script>
<script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/aos.js"></script>
<script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/owl.carousel.min.js"></script>
<script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/odometer.min.js"></script>
<script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/fancybox.js"></script>
<script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/jquery.appear.js"></script>
<script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/tweenmax.min.js"></script>
<script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/main.js"></script>{% endblock body %}

