{% extends 'base.html' %}

{% block title %}
Contact
{% endblock title %}


{% block body  %}


       <!-- Appointment Section Start -->
       <section class="appointment-wrap style1 bg-athens" style="margin-top:5%;">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="200">
                    <div class="appointment-content">
                        <div class="content-title style1" style="margin-top:10%;">
                            <span>Best Solutions</span>
                            <h2>Have a question or need assistance? We're always just a message away.</h2>
                            <p>We're here to help! Please don't hesitate to reach out if you have any questions or concerns. Our team will be available to assist you as soon as possible.</p>
                        </div>
                        <ul class="content-feature-list list-style">
                            <li><i class="ri-checkbox-circle-line"></i>Top Professional Team</li>
                            <li><i class="ri-checkbox-circle-line"></i>World Class Dental Services</li>
                            <li><i class="ri-checkbox-circle-line"></i>Discount On Treatment Fees</li>
                            <li><i class="ri-checkbox-circle-line"></i>Multi-Functional Hospital</li>
                            <li><i class="ri-checkbox-circle-line"></i>20+ Years Of Experience</li>
                            <li><i class="ri-checkbox-circle-line"></i>Top Professional Specialist</li>
                        </ul>
                        <a href="/doctors" class="btn style1">Contact Us Now</a>
                    </div>
                </div>



                <div class="col-lg-6" data-aos="fade-left" data-aos-duration="1200" data-aos-delay="200">
                    <form action="/contact" method = "POST" class="appointment-form" style="margin-top:15%;">
                            <h2>Book An Appointment</h2>
                            
                            {% with messages=get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            {% for category, message in messages %}
    
                                <div class="alert alert-{{category}} alert-dismissible fade show"
                                role = "alert" style="margin-left:5px!important; margin-bottom:50px !important;">
                                {{message}}
                    </div>
    
                    {%endfor%}
                    {%endif%}
                    {%endwith%}

                    
                            <div class="form-group">
                                <input type="email" name="user_email" value="{{current_user.email}}" required>
                            </div>

                            <div class="form-group">
                                <input type="text" name = "user_name"  placeholder="Name" required>
                            </div>

                            <div class="form-group">
                                <input type = "text" name="user_subject"  placeholder = "Subject" required>
                            </div>

                            <div class="form-group">
                                <input type = "text" name="user_phone_number"  placeholder = "Phone Number" required>
                            </div>

                            <div class="form-group">
                                <input type = "text" name="user_message"  placeholder = "Message" required>
                            </div>

                            <button type="submit" class="btn style2">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Appointment Section End -->

    

        <!-- Footer Section Start -->
        <footer class="footer-wrap">
            <div class="container">
                <div class="row pt-100 pb-75">
                    <div class="col-xl-3 col-lg-5 col-md-5 col-sm-12">
                        <div class="footer-widget">
                            <a href="index.html" class="footer-logo">
                                    <img src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/img/logo-white.png" alt="Image">
                                </a>
                            <p class="comp-desc">
                                Lorem ipsum dolor sit amet consc tetur adicing elit. Dolor emque dicta molest enim beatae ame consequ atur tempo pretium auctor nam.
                            </p>
                            <ul class="social-profile style1 list-style">
                                <li>
                                    <a href="https://www.facebook.com/abdulrafay.atiq.75">
                                            <i class="ri-facebook-fill"></i>
                                        </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/abdulrafay.atiq.75">
                                            <i class="ri-twitter-fill"></i>
                                        </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/abdulrafayatiq/">
                                            <i class="ri-instagram-line"></i>
                                        </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/abdul-rafay-atiq-699008230/">
                                            <i class="ri-linkedin-fill"></i>
                                        </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                        <div class="footer-widget">
                            <h3 class="footer-widget-title">Company</h3>
                            <ul class="footer-menu list-style">
                                <li>
                                    <a href="/">
                                            <i class="ri-arrow-right-s-line"></i>
                                           Home
                                        </a>
                                </li>
                                <li>
                                    <a href="/">
                                            <i class="ri-arrow-right-s-line"></i>
                                            About Us
                                        </a>
                                </li>
                                <li>
                                    <a href="/">
                                            <i class="ri-arrow-right-s-line"></i>
                                          Our Services
                                        </a>
                                </li>
                                <li>
                                    <a href="/">
                                            <i class="ri-arrow-right-s-line"></i>
                                            Our Team
                                        </a>
                                </li>
                                <li>
                                    <a href="/">
                                            <i class="ri-arrow-right-s-line"></i>
                                           Contact Us
                                        </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6">
                        <div class="footer-widget">
                            <h3 class="footer-widget-title">Important</h3>
                            <ul class="footer-menu list-style">
                                <li>
                                    <a href="/doctors">
                                            <i class="ri-arrow-right-s-line"></i>
                                           Portfolio
                                        </a>
                                </li>
                                <li>
                                    <a href="/doctors">
                                            <i class="ri-arrow-right-s-line"></i>
                                          Appointment
                                        </a>
                                </li>
                                <li>
                                    <a href="/">
                                            <i class="ri-arrow-right-s-line"></i>
                                            FAQ 
                                        </a>
                                </li>
                                <li>
                                    <a href="/">
                                            <i class="ri-arrow-right-s-line"></i>
                                            Privacy Policy
                                        </a>
                                </li>
                                <li>
                                    <a href="/">
                                            <i class="ri-arrow-right-s-line"></i>
                                            Terms &amp; Conditions
                                        </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-5 col-md-6 col-sm-6 pe-xl-4">
                        <div class="footer-widget">
                            <h3 class="footer-widget-title">Quick Link</h3>
                            <ul class="footer-menu list-style">
                                <li>
                                    <a href="/">
                                            <i class="ri-arrow-right-s-line"></i>
                                           Why Choose Us
                                        </a>
                                </li>
                                <li>
                                    <a href="/doctors">
                                            <i class="ri-arrow-right-s-line"></i>
                                            Pricing Plan
                                        </a>
                                </li>
                                <li>
                                    <a href="/doctors">
                                            <i class="ri-arrow-right-s-line"></i>
                                           News &amp; Articles
                                        </a>
                                </li>
                                <li>
                                    <a href="/login">
                                            <i class="ri-arrow-right-s-line"></i>
                                           Login
                                        </a>
                                </li>
                                <li>
                                    <a href="/contact">
                                            <i class="ri-arrow-right-s-line"></i>
                                            Subscribe
                                        </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-7 col-md-6 col-sm-6">
                        <div class="footer-widget">
                            <h3 class="footer-widget-title">Official Info</h3>
                            <ul class="contact-info list-style">
                                <li>
                                    <i class="flaticon-map"></i>
                                    <h6>Location</h6>
                                    <p>2767 Sunrise Street, NY 1002, USA</p>
                                </li>
                                <li>
                                    <i class="flaticon-email-1"></i>
                                    <h6>Email</h6>
                                    <a href="/cdn-cgi/l/email-protection#c2aaa7aeaead82b6a7aeabeca1adaf"><span class="__cf_email__" data-cfemail="c8a0ada4a4a788bcada4a1e6aba7a5">[email&#160;protected]</span></a>
                                </li>
                                <li>
                                    <i class="flaticon-phone-call-1"></i>
                                    <h6>Phone</h6>
                                    <a href="tel:13454567877">03340725087</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <p class="copyright-text"><i class="ri-copyright-line"></i> <span>Medicare</span>. All Rights Reserved By <a href="https://www.linkedin.com/in/abdul-rafay-atiq-699008230/">Rafay Atiq</a></p>
        </footer>
        <!-- Footer Section End -->

    </div>
    <!-- Page Wrapper End -->

    <!-- Back-to-top button Start -->
    <a href="javascript:void(0)" class="back-to-top bounce"><i class="ri-arrow-up-s-line"></i></a>
    <!-- Back-to-top button End -->

    <!-- Link of JS files -->
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/jquery.min.js"></script>
    <script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/bootstrap.bundle.min.js"></script>
    <script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/form-validator.min.js"></script>
    <script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/contact-form-script.js"></script>
    <script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/aos.js"></script>
    <script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/owl.carousel.min.js"></script>
    <script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/odometer.min.js"></script>
    <script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/fancybox.js"></script>
    <script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/jquery.appear.js"></script>
    <script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/tweenmax.min.js"></script>
    <script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/main.js"></script>
{% endblock body %}