{% extends 'base.html' %}

{% block title %}
Doctor
{% endblock title %}


{% block body  %}

        <!-- Portfolio Section Start -->
        <section class="portfolio-wrap ptb-100" style="margin-top: 4%;">
            <div class="container">
                <div class="section-title style1 text-center mb-40">
                    <span>Our Portfolio</span>
                    <h2>All The Great Project That We've Done</h2>
                </div>
                <div class="portfolio-slider-one owl-carousel">
                    <div class="portfolio-card style1" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="200">
                        <img src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/img/portfolio/portfolio-1.jpg" alt="Image">
                        <div class="portfolio-info">
                            <a href="portfolio-category.html" class="portfolio-cat">Cardiology</a>
                            <h3><a href="portfolio-details.html">Cardio Surgery</a></h3>
                        </div>
                    </div>
                    <div class="portfolio-card style1" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="300">
                        <img src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/img/portfolio/portfolio-2.jpg" alt="Image">
                        <div class="portfolio-info">
                            <a href="portfolio-category.html" class="portfolio-cat">Eye Care</a>
                            <h3><a href="portfolio-details.html">Retina Checkup</a></h3>
                        </div>
                    </div>
                    <div class="portfolio-card style1" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="400">
                        <img src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/img/portfolio/portfolio-3.jpg" alt="Image">
                        <div class="portfolio-info">
                            <a href="portfolio-category.html" class="portfolio-cat">Surgery</a>
                            <h3><a href="portfolio-details.html">Neuro Surgery</a></h3>
                        </div>
                    </div>
                    <div class="portfolio-card style1" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="500">
                        <img src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/img/portfolio/portfolio-4.jpg" alt="Image">
                        <div class="portfolio-info">
                            <a href="portfolio-category.html" class="portfolio-cat">Dental</a>
                            <h3><a href="portfolio-details.html">Root Canal</a></h3>
                        </div>
                    </div>
                    <div class="portfolio-card style1" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="600">
                        <img src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/img/portfolio/portfolio-5.jpg" alt="Image">
                        <div class="portfolio-info">
                            <a href="portfolio-category.html" class="portfolio-cat">Health</a>
                            <h3><a href="portfolio-details.html">Child Care</a></h3>
                        </div>
                    </div>
                    <div class="portfolio-card style1" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="700">
                        <img src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/img/portfolio/portfolio-6.jpg" alt="Image">
                        <div class="portfolio-info">
                            <a href="portfolio-category.html" class="portfolio-cat">Family</a>
                            <h3><a href="portfolio-details.html">Adult Health</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio Section End -->

        <!-- Portfolio Section Start -->
        <section class="portfolio-wrap ptb-100" style="margin-top: -10%;">
            <div class="container">
                <div class="section-title style1 text-center mb-40">
                    <span>Our Portfolio</span>
                    <h2>All The Great Project That We've Done</h2>
                </div>
                <div class="portfolio-slider-one owl-carousel">
                    <div class="portfolio-card style1" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="200">
                        <img src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/img/portfolio/portfolio-1.jpg" alt="Image">
                        <div class="portfolio-info">
                            <a href="portfolio-category.html" class="portfolio-cat">Cardiology</a>
                            <h3><a href="portfolio-details.html">Cardio Surgery</a></h3>
                        </div>
                    </div>
                    <div class="portfolio-card style1" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="300">
                        <img src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/img/portfolio/portfolio-2.jpg" alt="Image">
                        <div class="portfolio-info">
                            <a href="portfolio-category.html" class="portfolio-cat">Eye Care</a>
                            <h3><a href="portfolio-details.html">Retina Checkup</a></h3>
                        </div>
                    </div>
                    <div class="portfolio-card style1" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="400">
                        <img src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/img/portfolio/portfolio-3.jpg" alt="Image">
                        <div class="portfolio-info">
                            <a href="portfolio-category.html" class="portfolio-cat">Surgery</a>
                            <h3><a href="portfolio-details.html">Neuro Surgery</a></h3>
                        </div>
                    </div>
                    <div class="portfolio-card style1" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="500">
                        <img src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/img/portfolio/portfolio-4.jpg" alt="Image">
                        <div class="portfolio-info">
                            <a href="portfolio-category.html" class="portfolio-cat">Dental</a>
                            <h3><a href="portfolio-details.html">Root Canal</a></h3>
                        </div>
                    </div>
                    <div class="portfolio-card style1" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="600">
                        <img src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/img/portfolio/portfolio-5.jpg" alt="Image">
                        <div class="portfolio-info">
                            <a href="portfolio-category.html" class="portfolio-cat">Health</a>
                            <h3><a href="portfolio-details.html">Child Care</a></h3>
                        </div>
                    </div>
                    <div class="portfolio-card style1" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="700">
                        <img src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/img/portfolio/portfolio-6.jpg" alt="Image">
                        <div class="portfolio-info">
                            <a href="portfolio-category.html" class="portfolio-cat">Family</a>
                            <h3><a href="portfolio-details.html">Adult Health</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio Section End -->

        <!-- Portfolio Section Start -->
        <section class="portfolio-wrap ptb-100" style="margin-top: -10%;">
            <div class="container">
                <div class="section-title style1 text-center mb-40">
                    <span>Our Portfolio</span>
                    <h2>All The Great Project That We've Done</h2>
                </div>
                <div class="portfolio-slider-one owl-carousel">
                    <div class="portfolio-card style1" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="200">
                        <img src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/img/portfolio/portfolio-1.jpg" alt="Image">
                        <div class="portfolio-info">
                            <a href="portfolio-category.html" class="portfolio-cat">Cardiology</a>
                            <h3><a href="portfolio-details.html">Cardio Surgery</a></h3>
                        </div>
                    </div>
                    <div class="portfolio-card style1" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="300">
                        <img src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/img/portfolio/portfolio-2.jpg" alt="Image">
                        <div class="portfolio-info">
                            <a href="portfolio-category.html" class="portfolio-cat">Eye Care</a>
                            <h3><a href="portfolio-details.html">Retina Checkup</a></h3>
                        </div>
                    </div>
                    <div class="portfolio-card style1" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="400">
                        <img src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/img/portfolio/portfolio-3.jpg" alt="Image">
                        <div class="portfolio-info">
                            <a href="portfolio-category.html" class="portfolio-cat">Surgery</a>
                            <h3><a href="portfolio-details.html">Neuro Surgery</a></h3>
                        </div>
                    </div>
                    <div class="portfolio-card style1" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="500">
                        <img src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/img/portfolio/portfolio-4.jpg" alt="Image">
                        <div class="portfolio-info">
                            <a href="portfolio-category.html" class="portfolio-cat">Dental</a>
                            <h3><a href="portfolio-details.html">Root Canal</a></h3>
                        </div>
                    </div>
                    <div class="portfolio-card style1" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="600">
                        <img src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/img/portfolio/portfolio-5.jpg" alt="Image">
                        <div class="portfolio-info">
                            <a href="portfolio-category.html" class="portfolio-cat">Health</a>
                            <h3><a href="portfolio-details.html">Child Care</a></h3>
                        </div>
                    </div>
                    <div class="portfolio-card style1" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="700">
                        <img src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/img/portfolio/portfolio-6.jpg" alt="Image">
                        <div class="portfolio-info">
                            <a href="portfolio-category.html" class="portfolio-cat">Family</a>
                            <h3><a href="portfolio-details.html">Adult Health</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio Section End -->

        <!-- Testimonial Section Start -->
        <section class="testimonial-wrap style1 ptb-100 bg-athens">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 col-md-8">
                        <div class="section-title style2 mb-40">
                            <span>Testimonial</span>
                            <h2>The Main Reason For Your Choice Is Our Best Service </h2>
                        </div>
                    </div>
                </div>
                <div class="testimonial-slider-one owl-carousel">
                    <div class="testimonial-card style3" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="200">
                        <ul class="ratings list-style">
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                        </ul>
                        <p class="client-quote">Lorem ipsum dolor sit amet adip selection repellat tetur delni vel quam aliq earu expel dolor eme fugiat enim amet sit dolor.</p>
                        <div class="client-info-area">
                            <div class="client-info-wrap">
                                <div class="client-img">
                                    <img src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/img/testimonials/client-1.jpg" alt="Image">
                                </div>
                                <div class="client-info">
                                    <h3>Jim Morison</h3>
                                    <span>Director, BAT</span>
                                </div>
                            </div>
                            <div class="quote-icon">
                                <i class="flaticon-quote-2"></i>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-card style3" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="300">
                        <ul class="ratings list-style">
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                        </ul>
                        <p class="client-quote">Lorem ipsum dolor sit amet adip selection repellat tetur delni vel quam aliq earu expel dolor eme fugiat enim amet sit dolor.</p>
                        <div class="client-info-area">
                            <div class="client-info-wrap">
                                <div class="client-img">
                                    <img src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/img/testimonials/client-2.jpg" alt="Image">
                                </div>
                                <div class="client-info">
                                    <h3>Alex Cruis</h3>
                                    <span>CEO, IBAC</span>
                                </div>
                            </div>
                            <div class="quote-icon">
                                <i class="flaticon-quote-2"></i>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-card style3" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400">
                        <ul class="ratings list-style">
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                        </ul>
                        <p class="client-quote">Lorem ipsum dolor sit amet adip selection repellat tetur delni vel quam aliq earu expel dolor eme fugiat enim amet sit dolor.</p>
                        <div class="client-info-area">
                            <div class="client-info-wrap">
                                <div class="client-img">
                                    <img src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/img/testimonials/client-3.jpg" alt="Image">
                                </div>
                                <div class="client-info">
                                    <h3>Tom Haris</h3>
                                    <span>Engineer, Olleo</span>
                                </div>
                            </div>
                            <div class="quote-icon">
                                <i class="flaticon-quote-2"></i>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-card style3" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="500">
                        <ul class="ratings list-style">
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                        </ul>
                        <p class="client-quote">Lorem ipsum dolor sit amet adip selection repellat tetur delni vel quam aliq earu expel dolor eme fugiat enim amet sit dolor.</p>
                        <div class="client-info-area">
                            <div class="client-info-wrap">
                                <div class="client-img">
                                    <img src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/img/testimonials/client-4.jpg" alt="Image">
                                </div>
                                <div class="client-info">
                                    <h3>Harry Jackson</h3>
                                    <span>Enterpreneur</span>
                                </div>
                            </div>
                            <div class="quote-icon">
                                <i class="flaticon-quote-2"></i>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-card style3" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="600">
                        <ul class="ratings list-style">
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                        </ul>
                        <p class="client-quote">Lorem ipsum dolor sit amet adip selection repellat tetur delni vel quam aliq earu expel dolor eme fugiat enim amet sit dolor.</p>
                        <div class="client-info-area">
                            <div class="client-info-wrap">
                                <div class="client-img">
                                    <img src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/img/testimonials/client-5.jpg" alt="Image">
                                </div>
                                <div class="client-info">
                                    <h3>Chris Haris</h3>
                                    <span>MD, ITec</span>
                                </div>
                            </div>
                            <div class="quote-icon">
                                <i class="flaticon-quote-2"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cta-wrap pt-100">
                    <div class="row gx-5 align-items-center">
                        <div class="col-xl-8 col-lg-7">
                            <div class="cta-content">
                                <div class="cta-logo">
                                    <img src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/img/cta-icon.png" alt="Image">
                                </div>
                                <div class="content-title">
                                    <h2>Don't Hesitate To Contact us</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto inventore voluptatem possimus quibusdam veritatis. Accusamus ipsum saepe quas.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-5">
                            <div class="cta-btn">
                                <a href="appointment.html" class="btn style1">Make Appointment</a>
                                <a href="contact.html" class="btn style2">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonial Section End -->

        <!-- Pricing Section Start -->
        <section class="pricing-wrap pt-100 pb-75">
            <div class="container">
                <div class="section-title style1 text-center mb-40">
                    <span>Pricing Plan</span>
                    <h2>Our Simple &amp; Affordable Plan</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="200">
                        <div class="pricing-card">
                            <div class="pricing-header">
                                <div class="pricing-header-left">
                                    <h5>Basic Plan</h5>
                                    <h2>$79<span>/Month</span></h2>
                                </div>
                                <div class="pricing-header-right">
                                    <i class="flaticon-home"></i>
                                </div>
                            </div>
                            <ul class="pricing-features list-style">
                                <li class="checked">New Patient Consultation <i class="ri-check-line"></i></li>
                                <li class="checked">Regular health Checkup<i class="ri-check-line"></i></li>
                                <li class="checked">Ocupational Therapy<i class="ri-check-line"></i></li>
                                <li class="checked">Phusical Therapy<i class="ri-check-line"></i></li>
                                <li class="unchecked">X-rays<i class="ri-close-fill"></i></li>
                                <li class="unchecked">Cancer Treatment<i class="ri-close-fill"></i></li>
                            </ul>
                            <a href="login.html" class="btn style2">Get Started Now</a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="300">
                        <div class="pricing-card">
                            <div class="pricing-header">
                                <div class="pricing-header-left">
                                    <h5>Standard Plan</h5>
                                    <h2>$89<span>/Month</span></h2>
                                </div>
                                <div class="pricing-header-right">
                                    <i class="flaticon-user-2"></i>
                                </div>
                            </div>
                            <ul class="pricing-features list-style">
                                <li class="checked">New Patient Consultation <i class="ri-check-line"></i></li>
                                <li class="checked">Regular health Checkup<i class="ri-check-line"></i></li>
                                <li class="checked">Ocupational Therapy<i class="ri-check-line"></i></li>
                                <li class="checked">Phusical Therapy<i class="ri-check-line"></i></li>
                                <li class="checked">X-rays<i class="ri-check-line"></i></li>
                                <li class="unchecked">Cancer Treatment<i class="ri-close-fill"></i></li>
                            </ul>
                            <a href="login.html" class="btn style2">Get Started Now</a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="400">
                        <div class="pricing-card">
                            <div class="pricing-header">
                                <div class="pricing-header-left">
                                    <h5>Premium Plan</h5>
                                    <h2>$99<span>/Month</span></h2>
                                </div>
                                <div class="pricing-header-right">
                                    <i class="flaticon-clipboard"></i>
                                </div>
                            </div>
                            <ul class="pricing-features list-style">
                                <li class="checked">New Patient Consultation <i class="ri-check-line"></i></li>
                                <li class="checked">Regular health Checkup<i class="ri-check-line"></i></li>
                                <li class="checked">Ocupational Therapy<i class="ri-check-line"></i></li>
                                <li class="checked">Phusical Therapy<i class="ri-check-line"></i></li>
                                <li class="checked">X-rays<i class="ri-check-line"></i></li>
                                <li class="checked">Cancer Treatment<i class="ri-check-line"></i></li>
                            </ul>
                            <a href="login.html" class="btn style2">Get Started Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Pricing Section End -->


       <!-- Appointment Section Start -->
       <section class="appointment-wrap style1 bg-athens">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="200">
                    <div class="appointment-content">
                        <div class="content-title style1">
                            <span>Best Solutions</span>
                            <h2>Awesome Smart Health Can Make Your Life Easier</h2>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste cupiditate sit debitis, aut, perferendis praesentium alias, asperiores similique veniam vitae veritatis.</p>
                        </div>
                        <ul class="content-feature-list list-style">
                            <li><i class="ri-checkbox-circle-line"></i>Top Professional Team</li>
                            <li><i class="ri-checkbox-circle-line"></i>World Class Dental Services</li>
                            <li><i class="ri-checkbox-circle-line"></i>Discount On Treatment Fees</li>
                            <li><i class="ri-checkbox-circle-line"></i>Multi-Functional Hospital</li>
                            <li><i class="ri-checkbox-circle-line"></i>20+ Years Of Experience</li>
                            <li><i class="ri-checkbox-circle-line"></i>Top Professional Specialist</li>
                        </ul>
                        <a href="contact.html" class="btn style1">Contact Us Now</a>
                    </div>
                </div>



                <div class="col-lg-6" data-aos="fade-left" data-aos-duration="1200" data-aos-delay="200">
                    <form action="/doctors" method = "post" class="appointment-form">
                            <h2>Book An Appointment</h2>
                            
                            {% with messages=get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            {% for category, message in messages %}
    
                                <div class="alert alert-{{category}} alert-dismissible fade show"
                                role = "alert" style="margin-left:5px!important; margin-bottom:50px !important;">
                                {{message}}
                    </div>
    
                    {%endfor%}
                    {%endif%}
                    {%endwith%}

                    
                            <div class="form-group">
                                <input type="email" name = "email" value = "{{current_user.email}}" required> 
                            </div>

                            <div class="form-group">
                                <input type="text" name = "doctor_name"  placeholder="Doctor Name" required>
                            </div>

                            <div class="form-group">
                                <input type = "text" name="dept"  placeholder = "Doctor Department" required>
                            </div>

                            <button type="submit" class="btn style2">Book Now</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Appointment Section End -->



        <!-- Footer Section Start -->
        <footer class="footer-wrap" style = "margin-top:0%;">
            <div class="container">
                <div class="row pt-100 pb-75">
                    <div class="col-xl-3 col-lg-5 col-md-5 col-sm-12">
                        <div class="footer-widget">
                            <a href="index.html" class="footer-logo">
                                    <img src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/img/logo-white.png" alt="Image">
                                </a>
                            <p class="comp-desc">
                                Lorem ipsum dolor sit amet consc tetur adicing elit. Dolor emque dicta molest enim beatae ame consequ atur tempo pretium auctor nam.
                            </p>
                            <ul class="social-profile style1 list-style">
                                <li>
                                    <a href="https://facebook.com">
                                            <i class="ri-facebook-fill"></i>
                                        </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com">
                                            <i class="ri-twitter-fill"></i>
                                        </a>
                                </li>
                                <li>
                                    <a href="https://instagram.com">
                                            <i class="ri-instagram-line"></i>
                                        </a>
                                </li>
                                <li>
                                    <a href="https://linkedin.com">
                                            <i class="ri-linkedin-fill"></i>
                                        </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                        <div class="footer-widget">
                            <h3 class="footer-widget-title">Company</h3>
                            <ul class="footer-menu list-style">
                                <li>
                                    <a href="index.html">
                                            <i class="ri-arrow-right-s-line"></i>
                                           Home
                                        </a>
                                </li>
                                <li>
                                    <a href="about.html">
                                            <i class="ri-arrow-right-s-line"></i>
                                            About Us
                                        </a>
                                </li>
                                <li>
                                    <a href="service-one.html">
                                            <i class="ri-arrow-right-s-line"></i>
                                          Our Services
                                        </a>
                                </li>
                                <li>
                                    <a href="team.html">
                                            <i class="ri-arrow-right-s-line"></i>
                                            Our Team
                                        </a>
                                </li>
                                <li>
                                    <a href="contact.html">
                                            <i class="ri-arrow-right-s-line"></i>
                                           Contact Us
                                        </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6">
                        <div class="footer-widget">
                            <h3 class="footer-widget-title">Important</h3>
                            <ul class="footer-menu list-style">
                                <li>
                                    <a href="portfolio.html">
                                            <i class="ri-arrow-right-s-line"></i>
                                           Portfolio
                                        </a>
                                </li>
                                <li>
                                    <a href="appointment.html">
                                            <i class="ri-arrow-right-s-line"></i>
                                          Appointment
                                        </a>
                                </li>
                                <li>
                                    <a href="faq.html">
                                            <i class="ri-arrow-right-s-line"></i>
                                            FAQ 
                                        </a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html">
                                            <i class="ri-arrow-right-s-line"></i>
                                            Privacy Policy
                                        </a>
                                </li>
                                <li>
                                    <a href="terms-of-service.html">
                                            <i class="ri-arrow-right-s-line"></i>
                                            Terms &amp; Conditions
                                        </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-5 col-md-6 col-sm-6 pe-xl-4">
                        <div class="footer-widget">
                            <h3 class="footer-widget-title">Quick Link</h3>
                            <ul class="footer-menu list-style">
                                <li>
                                    <a href="about.html">
                                            <i class="ri-arrow-right-s-line"></i>
                                           Why Choose Us
                                        </a>
                                </li>
                                <li>
                                    <a href="pricing-plan.html">
                                            <i class="ri-arrow-right-s-line"></i>
                                            Pricing Plan
                                        </a>
                                </li>
                                <li>
                                    <a href="blog-left-sidebar.html">
                                            <i class="ri-arrow-right-s-line"></i>
                                           News &amp; Articles
                                        </a>
                                </li>
                                <li>
                                    <a href="login.html">
                                            <i class="ri-arrow-right-s-line"></i>
                                           Login
                                        </a>
                                </li>
                                <li>
                                    <a href="contact.html">
                                            <i class="ri-arrow-right-s-line"></i>
                                            Subscribe
                                        </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-7 col-md-6 col-sm-6">
                        <div class="footer-widget">
                            <h3 class="footer-widget-title">Official Info</h3>
                            <ul class="contact-info list-style">
                                <li>
                                    <i class="flaticon-map"></i>
                                    <h6>Location</h6>
                                    <p>2767 Sunrise Street, NY 1002, USA</p>
                                </li>
                                <li>
                                    <i class="flaticon-email-1"></i>
                                    <h6>Email</h6>
                                    <a href="/cdn-cgi/l/email-protection#c2aaa7aeaead82b6a7aeabeca1adaf"><span class="__cf_email__" data-cfemail="c8a0ada4a4a788bcada4a1e6aba7a5">[email&#160;protected]</span></a>
                                </li>
                                <li>
                                    <i class="flaticon-phone-call-1"></i>
                                    <h6>Phone</h6>
                                    <a href="tel:13454567877">+1-3454-5678-77</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <p class="copyright-text"><i class="ri-copyright-line"></i> <span>Teli</span>. All Rights Reserved By <a href="https://hibotheme.com/">HiboTheme</a></p>
        </footer>
        <!-- Footer Section End -->


    </div>
    <!-- Page Wrapper End -->

    <!-- Back-to-top button Start -->
    <a href="javascript:void(0)" class="back-to-top bounce"><i class="ri-arrow-up-s-line"></i></a>
    <!-- Back-to-top button End -->
</div>
<!-- Page Wrapper End -->

<!-- Back-to-top button Start -->
<a href="javascript:void(0)" class="back-to-top bounce"><i class="ri-arrow-up-s-line"></i></a>
<!-- Back-to-top button End -->

<!-- Link of JS files -->
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/jquery.min.js"></script>
<script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/bootstrap.bundle.min.js"></script>
<script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/form-validator.min.js"></script>
<script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/contact-form-script.js"></script>
<script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/aos.js"></script>
<script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/owl.carousel.min.js"></script>
<script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/odometer.min.js"></script>
<script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/fancybox.js"></script>
<script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/jquery.appear.js"></script>
<script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/tweenmax.min.js"></script>
<script src="static/static4/templates.hibotheme.com/templates.hibotheme.com/teli/default/assets/js/main.js"></script>
{% endblock body %}

